*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

#I added these
build.gradle
gradle.properties
gradle/
gradlew
gradlew.bat
settings.gradle
.idea/